# Apply Ridge Algorithm

In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.simplefilter("ignore")

In [2]:
from sklearn.model_selection import train_test_split

from sklearn.linear_model import Ridge
from sklearn.metrics import r2_score
from sklearn.model_selection import cross_val_score

from sklearn.model_selection import GridSearchCV

In [3]:
df=pd.read_excel(r"C:\Users\abhis\DATA SCIENCE SUBJECT & AI\Machine Learning\PROJECTS\Admission_predict ( Multiple Regression )(MR) Project-(3)\cleaned_data.xlsx")
df.head()

,Unnamed: 0,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,0,337,118,4,4.5,4.5,9.65,1,0.92
1,1,324,107,4,4.0,4.5,8.87,1,0.76
2,2,316,104,3,3.0,3.5,8.00,1,0.72
3,3,322,110,3,3.5,2.5,8.67,1,0.80
4,4,314,103,2,2.0,3.0,8.21,0,0.65

In [4]:
df=df.drop(columns=['Unnamed: 0'])
df

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,337,118,4,4.5,4.5,9.65,1,0.92
1,324,107,4,4.0,4.5,8.87,1,0.76
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65
...,...,...,...,...,...,...,...,...
495,332,108,5,4.5,4.0,9.02,1,0.87
496,337,117,5,5.0,5.0,9.87,1,0.96
497,330,120,5,4.5,5.0,9.56,1,0.93
498,312,103,4,4.0,5.0,8.43,0,0.73
499,327,113,4,4.5,4.5,9.04,0,0.84

In [5]:
df.columns

Index(['GRE Score', 'TOEFL Score', 'University Rating', 'SOP', 'LOR ', 'CGPA',
       'Research', 'Chance of Admit '],
      dtype='object')

In [6]:
x=df.drop('Chance of Admit ',axis=1)
y=df['Chance of Admit ']

In [7]:
df.shape

(500, 8)

# Train_test_split

In [8]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.8,random_state=8)

# Step-4,5 : Modelling & Evalution

**Applying Hyperparameter tunning for Ridge Regression**

In [21]:
# find the alpha value

from sklearn.model_selection import GridSearchCV

estimator = Ridge()

# When I try to increase every time, the last number gets the best number. So indirectly is saying that Ridge is not working.
param_grid = {"alpha":list(range(1,100))}

model_hp= GridSearchCV(estimator,param_grid,scoring="r2", cv=5)  

model_hp.fit(x_train,y_train)

model_hp.best_params_


# put the alpha value in the ridge code

{'alpha': 1}

## Modeling Ridge Regression using best hyperparameters Code

In [22]:
# Modeling

ridge_best = Ridge(alpha=1)
ridge_best.fit(x_train,y_train)

print("Intercept:",ridge_best.intercept_)
print("Coefficients:",ridge_best.coef_)

Intercept: -1.3525873434282378
Coefficients: [ 0.00200052  0.00333828  0.00608039 -0.00183114  0.01676839  0.11628357
  0.02498186]

# Step 5 Evaluation

##  Evaluation on Train Data

In [23]:
%%timeit
ypred_train=ridge_best.predict(x_train)
print("Train R2:",r2_score(y_train,ypred_train))
print("CV Score:",cross_val_score(ridge_best,x_train,y_train,cv=5).mean())

Train R2: 0.8293053385938982
CV Score: 0.8224263993668448
Train R2: 0.8293053385938982
CV Score: 0.8224263993668448
Train R2: 0.8293053385938982
CV Score: 0.8224263993668448
Train R2: 0.8293053385938982
CV Score: 0.8224263993668448
Train R2: 0.8293053385938982
CV Score: 0.8224263993668448
Train R2: 0.8293053385938982
CV Score: 0.8224263993668448
Train R2: 0.8293053385938982
CV Score: 0.8224263993668448
Train R2: 0.8293053385938982
CV Score: 0.8224263993668448
Train R2: 0.8293053385938982
CV Score: 0.8224263993668448
Train R2: 0.8293053385938982
CV Score: 0.8224263993668448
Train R2: 0.8293053385938982
CV Score: 0.8224263993668448
Train R2: 0.8293053385938982
CV Score: 0.8224263993668448
Train R2: 0.8293053385938982
CV Score: 0.8224263993668448
Train R2: 0.8293053385938982
CV Score: 0.8224263993668448
Train R2: 0.8293053385938982
CV Score: 0.8224263993668448
Train R2: 0.8293053385938982
CV Score: 0.8224263993668448
Train R2: 0.8293053385938982
CV Score: 0.8224263993668448
Train R2: 0.8293053385938982
CV Score: 0.8224263993668448
Train R2: 0.8293053385938982
CV Score: 0.8224263993668448
Train R2: 0.8293053385938982
CV Score: 0.8224263993668448
Train R2: 0.8293053385938982
CV Score: 0.8224263993668448
Train R2: 0.8293053385938982
CV Score: 0.8224263993668448
Train R2: 0.8293053385938982
CV Score: 0.8224263993668448
Train R2: 0.8293053385938982
CV Score: 0.8224263993668448
Train R2: 0.8293053385938982
CV Score: 0.8224263993668448
Train R2: 0.8293053385938982
CV Score: 0.8224263993668448
Train R2: 0.8293053385938982
CV Score: 0.8224263993668448
Train R2: 0.8293053385938982
CV Score: 0.8224263993668448
Train R2: 0.8293053385938982
CV Score: 0.8224263993668448
Train R2: 0.8293053385938982
CV Score: 0.8224263993668448
Train R2: 0.8293053385938982
CV Score: 0.8224263993668448
Train R2: 0.8293053385938982
CV Score: 0.8224263993668448
Train R2: 0.8293053385938982
CV Score: 0.8224263993668448
Train R2: 0.8293053385938982
CV Score: 0.8224263993668448
Train R2: 0.8293053385938982
CV Score: 0.8224263993668448
Train R2: 0.8293053385938982
CV Score: 0.8224263993668448
Train R2: 0.8293053385938982
CV Score: 0.8224263993668448
Train R2: 0.8293053385938982
CV Score: 0.8224263993668448
Train R2: 0.8293053385938982
CV Score: 0.8224263993668448
Train R2: 0.8293053385938982
CV Score: 0.8224263993668448
Train R2: 0.8293053385938982
CV Score: 0.8224263993668448
Train R2: 0.8293053385938982
CV Score: 0.8224263993668448
Train R2: 0.8293053385938982
CV Score: 0.8224263993668448
Train R2: 0.8293053385938982
CV Score: 0.8224263993668448
Train R2: 0.8293053385938982
CV Score: 0.8224263993668448
Train R2: 0.8293053385938982
CV Score: 0.8224263993668448
Train R2: 0.8293053385938982
CV Score: 0.8224263993668448
Train R2: 0.8293053385938982
CV Score: 0.8224263993668448
Train R2: 0.8293053385938982
CV Score: 0.8224263993668448
Train R2: 0.8293053385938982
CV Score: 0.8224263993668448
Train R2: 0.8293053385938982
CV Score: 0.8224263993668448
Train R2: 0.8293053385938982
CV Score: 0.8224263993668448
Train R2: 0.8293053385938982
CV Score: 0.8224263993668448
Train R2: 0.8293053385938982
CV Score: 0.8224263993668448
Train R2: 0.8293053385938982
CV Score: 0.8224263993668448
Train R2: 0.8293053385938982
CV Score: 0.8224263993668448
Train R2: 0.8293053385938982
CV Score: 0.8224263993668448
Train R2: 0.8293053385938982
CV Score: 0.8224263993668448
Train R2: 0.8293053385938982
CV Score: 0.8224263993668448
Train R2: 0.8293053385938982
CV Score: 0.8224263993668448
Train R2: 0.8293053385938982
CV Score: 0.8224263993668448
Train R2: 0.8293053385938982
CV Score: 0.8224263993668448
Train R2: 0.8293053385938982
CV Score: 0.8224263993668448
Train R2: 0.8293053385938982
CV Score: 0.8224263993668448
Train R2: 0.8293053385938982
CV Score: 0.8224263993668448
Train R2: 0.8293053385938982
CV Score: 0.8224263993668448
Train R2: 0.8293053385938982
CV Score: 0.8224263993668448
Train R2: 0.8293053385938982
CV Score: 0.8224263993668448
Train R2: 0.8293053385938982
CV Score: 0.8224263993668448
Train R2: 0.8293053385938982
CV Score: 0.8224263993668448
Train R2: 0.8293053385938982
CV Score: 0.8224263993668448
Train R2: 0.8293053385938982
CV Score: 0.8224263993668448
Train R2: 0.8293053385938982
CV Score: 0.8224263993668448
Train R2: 0.8293053385938982
CV Score: 0.8224263993668448
Train R2: 0.8293053385938982
CV Score: 0.8224263993668448
Train R2: 0.8293053385938982
CV Score: 0.8224263993668448
Train R2: 0.8293053385938982
CV Score: 0.8224263993668448
Train R2: 0.8293053385938982
CV Score: 0.8224263993668448
Train R2: 0.8293053385938982
CV Score: 0.8224263993668448
Train R2: 0.8293053385938982
CV Score: 0.8224263993668448
Train R2: 0.8293053385938982
CV Score: 0.8224263993668448
21.7 ms Â± 2.19 ms per loop (mean Â± std. dev. of 7 runs, 10 loops each)

## Evaluation of Test Data

In [12]:
ypred_test = ridge_best.predict(x_test)
print("Tets R2:",r2_score(y_test,ypred_test))

Tets R2: 0.7859973483286554

In [13]:
df

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,337,118,4,4.5,4.5,9.65,1,0.92
1,324,107,4,4.0,4.5,8.87,1,0.76
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65
...,...,...,...,...,...,...,...,...
495,332,108,5,4.5,4.0,9.02,1,0.87
496,337,117,5,5.0,5.0,9.87,1,0.96
497,330,120,5,4.5,5.0,9.56,1,0.93
498,312,103,4,4.0,5.0,8.43,0,0.73
499,327,113,4,4.5,4.5,9.04,0,0.84

# Prediction on unknown data

### Data

In [14]:
input_data = {'GRE Score':327, 'TOEFL Score':113,'University Rating':4,'SOP':4.5,
               'LOR ':4.5, 'CGPA':9.04,'Research':0}

## Step 1 : Preprocessing the data

In [15]:
df_test=pd.DataFrame(input_data,index=[0])

df_test

   GRE Score  TOEFL Score  University Rating  SOP  LOR   CGPA  Research
0        327          113                  4  4.5   4.5  9.04         0

## Step 2 : Predict

In [16]:
ridge_best.predict(df_test)

array([0.8215498])